<% provide(:title, "Checkout history") %>
<%= render 'users/users_common' %>

<p>
To view book's checkout history, search the book below:
</p>
<p>
<% if logged_in? %>
<%= render 'users/book_search_box' %>
<% end %>
</p>
<p>
To view member's checkout history, search for user below:
</p>
<p>
<% if logged_in? %>
<%= render 'users/user_search_box' %>
<% end %>
</p>

