<% provide(:title, "Home") %>
<h1>Libsys Home</h1>
<p>
  Choose an option : <br/> 
  <ul>
	 <li><%= link_to "Login as library member", '#' %></li>
  	 <li><%= link_to "Login as library Admin", '#' %></li>
</p>
